<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75334850507-lovoui09pqc3i6kjt42qs9ug0big0c37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75334850507-lovoui09pqc3i6kjt42qs9ug0big0c37</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75334850507-8395nk69sf5sr6bfomvs5v1obnal5fa4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqAkVByuiK3ytP-E9kNJZZnTpKCZwLq4o</string>
	<key>GCM_SENDER_ID</key>
	<string>75334850507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codio.app</string>
	<key>PROJECT_ID</key>
	<string>kodio-app-bdf6a</string>
	<key>STORAGE_BUCKET</key>
	<string>kodio-app-bdf6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75334850507:ios:6c10d35d4da96da0e6c84e</string>
</dict>
</plist>